

<div style ="float:right;" id="statut">STATUT: {{statut}}
<button id="deconnexion" type="button" class="btn btn-link" routerLink="/login" (click)="seDeconnecter()">
   <span class="glyphicon glyphicon-log-out" style="font-size:36px"></span></button></div>
   

  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="/login" href="#"><i class="fa fa-home"></i>   Accueil</a>
      <a class="navbar-brand" routerLink="/annonce" href="#"><span class="glyphicon glyphicon-th-list"></span>   Voir les annonces</a>
      <a class="navbar-brand" routerLink="/user" href="#"><span class="glyphicon glyphicon-share"></span>   Publier une annonce</a>
      <a class="navbar-brand" routerLink="/admin" href="#"><span class="glyphicon glyphicon-eye-open"></span>   Administrateur</a>
      <!-- <a class="navbar-brand" routerLink="/login" href="#">Page de Login</a>
      <a class="navbar-brand" routerLink="/contact" href="#">Page des Contacts</a> --> 
    </nav>
    