<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
<!DOCTYPE html>
<html>

    <div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <h3 class="card-title text-center">S'identifier</h3>
          <div class="card-body">
            
            <form class="form-signin">
              <div class="form-label-group">
                <label for="login">Login</label>
                <input type="login" id="login" class="form-control" placeholder="Enter your login" [(ngModel)]="login" [ngModelOptions]="{standalone: true}" required autofocus>               
              </div>
<br>
              <div class="form-label-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Enter your password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>                
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" checked class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Rester connecter</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="seLogger()">Se Connecter</button>
              <hr class="my-4">
              <button type="reset" class="cancelbtn" class="btn btn-outline-secondary btn-block">Annuler</button>
              <button class="btn btn-link" onclick="document.getElementById('formulaireUser').style.display='block'">Pas encore inscrit?</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id='formulaireUser' class="w3-modal">
      <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                  <div class="card-body">
                      <h3 class="card-title text-center">Inscrivez vous gratuitement
                          <span onclick="document.getElementById('formulaireUser').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                      </h3>
    <form>
      <label for="login"><b>Login</b></label>
      <input type="text" placeholder="Choose a login" name="login" required class="form-control" [(ngModel)]="newUser.login">
      
      <label for="psw"><b>Mot de passe</b></label>
      <input type="password" placeholder="Choose a password" name="password" required class="form-control" [(ngModel)]="newUser.password">
  
      <label for="psw"><b>Resaisir le mot de passe</b></label>
      <input type="password" placeholder="Reenter the password" name="password2" required class="form-control" [(ngModel)]="password2">
  
      <label for="uname"><b>Votre nom</b></label>
      <input type="text" placeholder="Enter your name" name="uname" required class="form-control" [(ngModel)]="newUser.name_user">

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter your email" name="email" required class="form-control" [(ngModel)]="newUser.email">

      <label for="tel"><b>Telephone</b></label>
      <input type="text" placeholder="Enter your telephone number" name="tel" required class="form-control" [(ngModel)]="newUser.tel">
      <br>
      <button type="submit" class="btn btn-lg btn-success btn-block text-uppercase" (click)="ajouterUser()">S'inscrire</button>
      <hr class="my-4">
      <button type="reset" class="cancelbtn" class="btn btn-outline-secondary btn-block" onclick="document.getElementById('formulaireUser').style.display='none'">Annuler</button>
      </form>
  </div></div></div></div></div></div>






  
    
      
 

</html>




