h1{
    display: block;
    font-size: 20;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color:rgb(53, 105, 148);
    background-color: rgb(223, 223, 223);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}