


<div class="jumbotron">
    <div class="input-group mb-3">
        <input type="text" style="width: 200px" class="form-control" placeholder="Search" [(ngModel)]="nomUser" [ngModelOptions]="{standalone: true}" required autofocus>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="rechercherUser()" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </div>
    <br>
    <div class="container-fluid">
    <table class="table">
        <thead><tr><th scope="col">Id</th><th scope="col">Login</th><th scope="col">Nom</th><th scope="col">Email</th><th scope="col">N° Tel</th>      
        </tr></thead>   
        <tbody><tr *ngFor="let us of users">
            <td>{{us.code_user}}</td><td>{{us.login}}</td><td>{{us.name_user}}</td><td>{{us.email}}</td><td>{{us.tel}}</td>
                <td><button class="btn btn-outline-danger" (click)="supprimerUser(us.code_user)">Delete User <i class="fa fa-trash"></i></button></td>        
        </tr></tbody>
    </table>
    </div>
    </div>