
<div class="jumbotron">
<label class="label label-default">CATEGORIE: </label>
     <select class="custom-select" style="width: 200px" [(ngModel)]="nomCat" (change)="afficherParCategorie()">
      <option *ngFor="let cat of categories" [ngValue]="cat.nom">{{cat.nom}}</option>
    </select>  
&nbsp;&nbsp;<label class="label label-default">REGION: </label>
    <select class="custom-select" style="width: 200px" [(ngModel)]="nomReg" (change)="afficherParRegion()"> 
      <option *ngFor="let reg of regions" [ngValue]="reg.nom">{{reg.nom}}</option>
    </select>
    <br><br><button class="btn btn-outline-secondary" (click)="afficherParCategorieRegion()"><span class="glyphicon glyphicon-search"></span> Rechercher</button> &nbsp;&nbsp;&nbsp; <button class="btn btn-link" (click)="rafraichir()"><i class='fas fa-sync' style='font-size:26px'></i></button>

<div class="container-fluid">
<table class="table">
    <thead><tr><th scope="col">Id</th><th scope="col">Titre</th><th scope="col">Categorie</th><th scope="col">Region</th><th scope="col">Date de publication</th><th scope="col">Contact</th>      
    </tr></thead>   
    <tbody><tr *ngFor="let ann of annonces">
        <td>{{ann.id}}</td><td>{{ann.titre}}</td><td>{{ann.categorie.nom}}</td><td>{{ann.region.nom}}</td><td>{{ann.date | date:"dd/MM/yyyy 'à' h:mma"}}</td><td>{{ann.usermanager.tel}}</td><td>
            <button class="btn btn-outline-secondary" (click)="afficherInfosAnnonce(ann.id)">Voir l'annonce</button></td>        
    </tr></tbody>
</table>
</div>
</div>
