
<div class="jumbotron"> 
<div class="container">
  <h3>Bienvenue {{user.name_user}}</h3>
    <h2><span class="glyphicon glyphicon-pencil"></span>Créer votre annonce</h2>
    <form>
        <h4>{{annonce.date | date:'longDate'}}</h4>
    <br>

    <fieldset>
    <label class="label label-primary">Catégorie </label>
    <select class="custom-select" class="form-control" style="width: 300px" [(ngModel)]="annonce.categorie" [ngModelOptions]="{standalone: true}" ngDefaultControl (change)="definirCategorie()">
      <!-- <option value="?"></option> -->
      <option *ngFor="let cat of categories" [ngValue]="cat">{{cat.nom}}</option>
   </select> 
   <br> 
    <label class="label label-primary">Région </label>
   <select class="custom-select" class="form-control" style="width: 200px" [(ngModel)]="annonce.region" [ngModelOptions]="{standalone: true}" ngDefaultControl (change)="definirRegion()"> 
      <!-- <option value="?"></option> -->
      <option *ngFor="let reg of regions" [ngValue]="reg">{{reg.nom}}</option>
   </select>  
  </fieldset>
  <br>


    <fieldset>      
      <div class="form-group">
        <label class="label label-primary" for="titre">Titre de l'annonce</label>
        <input type="text" class="form-control" style="width: 300px" id="titre" placeholder="Entrez un titre à l'annonce" [(ngModel)]="annonce.titre" ngDefaultControl [ngModelOptions]="{standalone: true}">
        </div>
      <div class="form-group">
          <label class="label label-primary" for="prix">Prix</label>
          <input type="number" class="form-control" style="width: 200px" id="prix" placeholder="Entrez le prix" [(ngModel)]="annonce.prix" ngDefaultControl [ngModelOptions]="{standalone: true}">
        </div>            
      <div class="form-group">
        <label class="label label-primary" for="commentaire">Commentaire</label>
        <textarea class="form-control" id="commentaire" rows="3" aria-describedby="fileHelp" [(ngModel)]="annonce.texte" ngDefaultControl [ngModelOptions]="{standalone: true}"></textarea>
        <small id="fileHelp" class="form-text text-muted">*maximum 300 caractères</small>
      </div>
      <div class="form-group">
        <label class="label label-primary" for="photo" [(ngModel)]="annonce.photo" ngDefaultControl [ngModelOptions]="{standalone: true}">Photo</label>
        <input type="file" class="form-control-file" id="photo" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">*maximum 2mo (.jpg, .tif, .jpeg, .gif)</small>
      </div>
      <div class="form-group">
          <label class="label label-primary" for="specification">{{Specification1}}</label>
          <input type="text" class="form-control" style="width: 200px" id="specification" placeholder="Entrez une spécification" [(ngModel)]="annonce.spec1" ngDefaultControl [ngModelOptions]="{standalone: true}">
        </div>
      <div class="form-group">
          <label class="label label-primary" for="specification">{{Specification2}}</label>
          <input type="text" class="form-control" style="width: 200px" id="specification" placeholder="Entrez une spécification" [(ngModel)]="annonce.spec2" ngDefaultControl [ngModelOptions]="{standalone: true}">
        </div>
      <div class="form-group">
          <label class="label label-primary" for="specification">{{Specification3}}</label>
          <input type="text" class="form-control" style="width: 200px" id="specification" placeholder="Entrez une spécification" [(ngModel)]="annonce.spec3" ngDefaultControl [ngModelOptions]="{standalone: true}"> 
        </div>
      
        <button class="btn btn-primary btn-block" (click)="ajouterAnnonce()"><span class="glyphicon glyphicon-share"></span>    Publier l'annonce</button>
        <button class="btn btn-dark btn-block" type="reset">Annuler</button>
    </fieldset>
  </form>
</div></div> 