<div class="jumbotron">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="card">
      <div class="card-header">
        <h3>{{annonceinfos.titre}}</h3>
      </div>        
      <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Photo: </b> inserer la photo ici </li>
          <li class="list-group-item"><b>Commentaire: </b>{{annonceinfos.texte}} </li>
          <li class="list-group-item"><b>Prix: </b>{{annonceinfos.prix}}  &#8364;</li>
          <li class="list-group-item"><b>Catégorie: </b>{{annonceinfos.categorie.nom}} </li>
          <li class="list-group-item"><b>Région: </b>{{annonceinfos.region.nom}} </li>
          <li class="list-group-item"><b>Date de publication:  </b>{{annonceinfos.date | date:"dd/MM/yyyy 'à' h:mma"}}</li>        
          <li id="cardbutton" class="list-group-item">
              <button class="btn btn-outline-secondary" (click)="modifierAnnonce(annonceinfos.variable)">Modifier   <span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-outline-danger" (click)="supprimerAnnonce(annonceinfos.variable)">Supprimer   <i class="fa fa-trash"></i></button></li>
      </ul>    
      </div>
    </div>
<div class="col-lg-4">
    <div class="card">
    <div class="card-header">
        <h3><span class="glyphicon glyphicon-user"></span>    {{annonceinfos.usermanager.name_user}}</h3>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Email: </b>{{annonceinfos.usermanager.email}} </li>
          <li class="list-group-item"><b>Telephone: </b>{{annonceinfos.usermanager.tel}} </li></ul>

</div></div></div></div>

